<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
<h1>Cuptime</h1>

{%for user in users%}
    <h1>{{user.name}}</h1>
    <p>{{user.email}}</p>
{%endfor%}
</body>
</html>