body {
  padding: 0;
  margin: 0;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.hr{
  width:100%;
  margin:0;
  padding:0;
}

.clear{
    overflow:auto;
    zoom:1;
}

.top{
    position: relative;
    width: 1190px;
    margin: 0 auto;
    height: 65px;
    line-height: 65px;
}

.top > nav{
  position:absolute;
  top:0;
  right: 0;
  height: 65px;
  line-height: 65px;
}

.top > nav > a{
  color: #666;
  text-decoration:none;
  margin-right: 30px;
}

.banner{
  width: 950px;
  margin: 0 auto;
}

.banner > .device{
  width: 100%;
}

.banner > .hello{
  display:block;
  width: 365px;
  margin: 0 auto;
  margin-top:50px;
}
.rotatex{
  perspective:1000px;
  -webkit-animation:5s rotatex forwards;
}

.fadein{
  -webkit-animation:5s fadein forwards;
}
@-webkit-keyframes rotatex{
    from{transform:rotateX(50deg);opacity:0.3;}
    to {transform:rotateX(20deg);opacity:1;}
}

@-webkit-keyframes fadein{
  from{opacity:0;}
  to{opacity:1;}
}
